* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
h1{
    position: absolute;
    left:100px;
    top:60px;
    color:#ffffff;
    font-size:35px;
    font-family: sans-serif;
}
span {
    opacity:0;
    transition: all 1s ease;
}
span.fade {
    opacity: 1;
}